<h1> Roulette page </h1>
<h3>Welcome to the table, <%= @user.name %></h3>
======================================================================================

<div class ="columns" >
	<div class = "colum" style = "float:left">
		
	
			<%= form_tag("/roulette", method: "post") do %>
			
				<%= check_box_tag('bets[]', "red") %>
				<%= label_tag(:bet_red, "Bet RED") %> <br />

				<%= check_box_tag('bets[]', "black") %>
				<%= label_tag(:bet_black, "Bet BLACK") %> <br />

				<%= check_box_tag('bets[]', "even") %>
				<%= label_tag(:bet_even, "Bet EVEN") %> <br />

				<%= check_box_tag('bets[]', "odd") %>
				<%= label_tag(:bet_odd, "Bet ODD") %> <br />

	</div>
	<div class = "colum" style = "float:left">

				<%= check_box_tag('bets[]', "1st_12") %>
				<%= label_tag(:bet_1st12, "Bet 1st 12") %> <br />

				<%= check_box_tag('bets[]', "2nd_12") %>
				<%= label_tag(:bet_2nd12, "Bet 2nd 12") %> <br />

				<%= check_box_tag('bets[]', "3rd_12") %>
				<%= label_tag(:bet_3rd12, "Bet 3rd 12") %> <br />
	</div>

	<div class = "colum" style = "float:left">
				<%= label_tag(:wager, "wager") %>
				<%= number_field_tag(:wager, "wager", in: 1...@user.balance.balance+1 ) %> <br />
	</div>

	<div class = "colum" style = "float:left">
				<%= submit_tag("Spin!") %>
			<% end %>
	</div>
			</form>

	<div class = "colum" style = "float:left">
	|  Your balance is currently <%= @user.balance.balance %>
	
	</div>
<div class = "colum" style = "float:right">
		Current High Scores:

		<ol>
			<% highscores = Balance.order("balance DESC").limit(5).to_a %>

			<% highscores.each do |f| %>

			<li><%= "#{User.find_by(id: f.user.id).name}s balance is #{f.balance}" %></li>

			<% end %>

		</ol>

</div>
</div>
<div>
	</div>
	

		

		
	

