<% provide(:title, @user.name) %>
<h1> Welcome back, <%= @user.name %> </h1>

Name:<%= @user.name %> <br />

Email:<%= @user.email %> <br />


Your account balance is: <%= @user.balance.balance %> <br />

Play the only game we have? <%= link_to "Roulette", roulette_index_path %>




